@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:ital,wght@1,500;1,600;1,800&family=Poppins:wght@300;400;500&display=swap');

/* font-family: 'Lobster', cursive; */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Poppins', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --heading: rgb(3, 17, 68);
    --para: #777;
    --para-tint: #e4e4e4;
    --white: #fff;
    --black: #212529;
    --helper: #8490ff;
    --helper-tint:#f3f4ff;
    --bg: rgb(249 249 255);
    --grey-shade: rgb(179, 176, 176);
    --gradient: linear gradient(0def, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --gradientSupport: -webkit-linear-gradient(
        0deg, rgb(132 144 255) 0%,
        rgb(98 189 252) 100%
    );
    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 / 30%);
}

html{
    font-size: 62.5%;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

h1{
    color: var(--heading);
    font-size: 6rem;
    font-weight: 600;
}

/* h2{
    margin: ;
    padding: 10rem 30rem;
} */

h3{
    font-size: 1.8rem;
    font-weight: 400;
}

p{
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

/* ==========================
        Header Section 
========================== */

.header{
    padding: 0 4.8rem;
    height: 10rem;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo{
    height: 3rem;
}

.navbar-lists{
    display: flex;
    gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;    
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    transition: color 0.3s linear;
}

.navbar-link:hover, .navbar-link:active{
    color: var(--helper);
}

/* ==========================
           Section 
========================== */

.section{
    padding: 10rem 15rem;
}
.container{
    max-width: 140rem;
    margin: 0 auto;
}
.logo{
    width: 90%;
}
.grid{
    display: grid;
    gap: 9rem;
}
.grid-two-column{
    grid-template-columns: repeat(2, 1fr);
}

.btn{
    background: var(--gradientSupport);
    padding: 1rem 2rem;
    border: none;
    color: var(--helper-tint);
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    box-shadow: var(--shadowSupport)
}

.common-heading{
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative;
}

.common-heading::before{
    content: "";
    position: absolute;
    top: 110%;
    bottom: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--helper);
    border-radius: 50%;
}
.common-heading::after{
    content: "";
    position: absolute;
    top: 119%;
    left: 1.5rem;
    min-width: 20rem;
    height: 0.3rem;
    background: var(--helper);
}
.common-para{
    text-align: center;
}

/* ==========================
        Hero Section 
========================== */

.hero-heading{
    width: 12cm;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6rem;
}

.section-hero{
    background-color: var(--bg);
    margin-top: 4rem;
}

.section-hero-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    padding: 6rem;
}

.section-hero-image{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-image{
    max-width:120%;
    height: 50rem;
}

.hero-para{
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}

/* ==========================
      Bio-Data Section 
========================== */

.bio-image{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.bio-image img{
    width: 80%;
    box-shadow: -2rem -2rem 0 0 var(--helper);
}

.bio-data-stats {
    display: flex;
    padding: 5rem 0;
    flex-direction: column;
    gap: 3rem;
}

.bio-stats h3{
    margin-bottom: 0.7rem;
}

.bio-progress-bar{
    width: 90%;
    height: 0.8rem;
    background-color: var(--para);
    border-radius: 10rem;
    box-shadow: var(--shadow);
    position: relative;
}

.bio-progress-1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 10rem;
}
.bio-progress-2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 10rem;
}
.bio-progress-3::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 10rem;
}
.bio-progress-4::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: inherit;
    background: var(--gradientSupport);
    border-radius: 10rem;
}

.bio-progress-bar span{
    position: absolute;
    top: 1.8rem;
    width: 4rem;
    height: 2rem;
    background: var(--helper);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: 0;
    /* border-radius: 10rem; */
}
.bio-progress-1 span{
    left: 91%;
}
.bio-progress-2 span{
    left: 81%;
}
.bio-progress-3 span{
    left: 66%;
}
.bio-progress-4 span{
    left: 46%;
}

/* To create a caret */
.bio-progress-bar span::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0.8rem solid var(--helper);
    border-color: transparent;
    border-bottom-color: var(--helper);
    top: -1.5rem;
}
.bio-progress-1::after{
    left: 93%;
}
.bio-progress-2::after{
    left: 83%;
}
.bio-progress-3::after{
    left: 68%;
}
.bio-progress-4::after{
    left: 48%;
}

.bio-data-btn{
    max-width: 28%;
}

/* ==========================
    Freelancing Section 
========================== */
.section-freelancing{
    background-image: url("../images/freelancing.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    transition: all 0.7s linear;
    text-align: center;
}

/* .freelancing:hover{
    color: rgb(248, 190, 233);
} */

.section-freelancing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--helper);
    background-color: #3e64ff;
    opacity: 0.7;
}

.section-freelancing .container {
    position: relative;
}

.freelancing{
    font-size: 4.8rem;
    font-weight: 600;
    margin-bottom: 6rem;
    text-transform: capitalize;
    position: relative;
}
.section-freelancing h2{
    font-size: 5rem;
}
.section-freelancing span{
    color: greenyellow;
}
.section-freelancing h2, .section-freelancing p{
    color: var(--white);
    margin-bottom: 1.8rem;
}

/* ==========================
      Contact Section 
========================== */
.section-contact-main{
    max-width: 70rem;
    margin: 0 auto;
    margin-top: 9rem;
    transition: all 0.3s linear;
}

.section-contact-main form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.section-contact-main input, .section-contact-main textarea{
    padding: 1.5rem 2rem;
    border: 0.1rem solid #c9c9c9;
    border-radius: 5px;
    font-size: 1.6rem;
    width: 100%;
}

.section-contact-main input[type="submit"]{
    max-width: 30%;
    border: none;
}

/* ==========================
      Footer Section 
========================== */
.grid-three-column{
    grid-template-columns: repeat(3, 1fr);
}
.section-footer{
    background: var(--heading);
    transition: all 0.7s linear;
}
.section-footer h3{
    color: var(--white);
    margin-bottom: 4rem;
    font-size: 2.3rem;
}
.f-about p{
    color: var(--grey-shade);
}
.f-links ul, .f-address address{
    display: flex;
    justify-content: center;
    gap: 1.8rem;
    flex-direction: column;
}
.f-links li, .f-links a{
    font-size: 1.8rem;
    color: var(--grey-shade);
    text-transform: uppercase;
}
.f-links span, .f-address span{
    margin-right: 1rem;
}
.f-address p, .f-address p a{
    font-style: normal;
    color: var(--grey-shade);
}
.f-credits p{
    margin-top: 5rem;
    text-align: center;
    color: var(--grey-shade);
}
.footer a:hover, .footer a:active{
    color: var(--white);
}

/* ==========================
      Scroll Section 
========================== */
/* .scrollToTop{
    position: fixed;
    right: 2%;
    bottom: 5%;
    z-index: 1;
}
.scroll-top{
    width: 4rem;
    height: 4rem;
    background: var(--helper);
    display: inline-block;
    padding: 1.4rem 1.8rem;
    color: var(--heading);
    animation: water-wave 3s linear infinity;
    cursor: pointer;
} */

.sticky .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: var(--shadow);
}
/* 
.sticky .section-hero{
    margin-top: 10rem;
} */

.portfolio_page-biodata{
    margin-top: 6rem;
}
.contact_page-contact{
    margin-top: 6rem;
}